BINANCE_API_KEY="Your_API_Key"
BINANCE_API_SECRET="Your API secret"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
DATABASE_URI=postgresql://postgres:password@0.0.0.0:5432/postgres
RABBIT_URI=amqp://crypto:crypto@localhost:5672/
RABBIT_USER=crypto
RABBIT_PASSWORD=crypto